* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.country-image {
  width: 200px;
  height: 100px;
}

.logo-image {
  height: 75px;
}

/* Header - Top Bar */
.header-container {
  background-color: white;
  width: 20px;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  background-color: #0c51a1;
}

.photo-grid {
  margin-top: 50px;
  width: 900px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.photo-grid-item {
  /* border: 1px solid #fff; */
  width: 300px;
  height: 300px;
  text-align: center;
}

/* Flag Caption */
.flag-caption {
  color: white;
  text-align: center;
}

/* .header {
  padding: 20px;
  text-align: center;
  background: #0c51a1;
  color: white;
  font-size: 30px;
}

.images {

  text-align: center;
	
}

.footer {
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1B9DDB;
  color: white;
  text-align: center;
} */