/* Sent from Duane Kellogg */

md-sidenav.site-sidenav,
md-sidenav.site-sidenav.md-locked-open,
md-sidenav.site-sidenav.md-locked-open.md-closed {
    width: 300px;
    background: #0C51A1;
}

md-sidenav.site-sidenav .md-button {
    color:#FFFFFF;
    font-weight: bold;
}

md-sidenav.site-sidenav .md-button md-icon {
    color:#FFFFFF;
}

/* TESTING */


md-sidenav.site-contactnav,
md-sidenav.site-contactnav.md-locked-open,
md-sidenav.site-contactnav.md-locked-open.md-closed {
    width: 400px;
}

.go-menu-nested {
    padding-left: 16px;
}

.md-toast-text md-icon {
    color:#FFFFFF;
}

.md-button-small {
    min-width: 1%;
}

.layout-body {
    margin: 16px;
}

md-tooltip.multiline .md-content {
    height: auto;
}

md-menu-item.md-menu-header-item > button.md-button[disabled] > span {
    color:#333;
    font-weight: bold;
    text-transform: uppercase;
}

.rotate45 {
    transform: rotate(45deg);
}

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}

.rotate270 {
    transform: rotate(270deg);
}

.upvoted {
    color:#0C0;
}

.red,
.downvoted {
    color:#C00;
}

.error {
    color:#CC0000;
    font-weight: bold;
}

.bright-red {
    color: #FF0000;
}

h1,
.orange {
    color: #ff671f;
}

h3,
.blue {
    color: #0C51A1;
}

.green {
    color:#090;
}

.white {
    color: #FFF;
}

.yellow {
    color: #FEDD00;
}

.dashboard h1,
.dashboard .h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}

.dashboard h2,
.dashboard .h2 {
    font-size: 32px;
}

.dashboard h3,
.dashboard .h3 {
    font-size: 28px;
}

table.md-table .thead-dashboard,
table.md-table .thead-dashboard th.md-column,
table.md-table .thead-dashboard td.md-column  {
    background-color: #0C51A1;
    color: #FFFFFF;
    font-weight: bold;
}


table.md {
    width:100%;
    border-spacing: 0;
    padding:0 !important;
}

table.md thead,
table.md thead th,
table.md thead td {
    background-color: #0C51A1;
    color: #FFFFFF;
    font-weight: bold;
}

table.md th,
table.md td {
    font-size: 12px;
    text-align: left;
    height:48px;
    padding:0px 16px;
    vertical-align: middle;
}

table.md th {
    font-size: 12px;
}

table.md tbody td {
    border-bottom: 1px solid #CCC;
}

table.md tbody tr:last-child td,
table.md tbody tr.no-delimiter td {
    border-bottom: none;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #0C51A1;
}


@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(/css/fonts/Dancing-Script-Range-1.woff2) format('woff2');
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(/css/fonts/Dancing-Script-Range-2.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(/css/fonts/Dancing-Script-Range-3.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.small {
    font-size: 75%;
}


md-menu-content {
    max-height: 90vh;
}

span.error {
    color: #CC0000;
    font-weight: bold;
}