/* dark blue #0c51a1; */
/* orange #ff671f */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */

.nav-container {
    color: #ff671f;
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.nav {
    /* debugging */
    border: 1px solid black;
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

.image-logo {
    height: 70px;
}