/* dark blue #0c51a1; */
/* darker blue #003865 */
/* orange #ff671f */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation Bar */

.nav-container {
    color: #ff671f;
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.nav {
    /* debugging */
    border: 1px solid black;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.image-logo {
    height: 70px;
}

/* Header */

.header-container {
    background-color: #0c51a1;
    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    /* vertical alignment */
    align-items: center;
}

/* Photo Grid */

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.photo-grid-item {
    border: 1px solid black;
}

/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #0c51a1;
}

.footer-item {
    /* border: 1px solid white; */
    background-color: #0c51a1;
    height: 200px;
    flex: 1;
}

/* .footer-one,
.footer-three {
    background-color: #0c51a1;
    flex: initial;
    width: 300px;
} */